<div class="admin-page">
  <div class="col-md-10 col-md-offset-1">
    
    <div class="top row">
      <h1 class="col-md-3">Build A Menu</h1>
      <button type="button" class="col-md-2 btn btn-default pull-right">Publish</button>
      <a href="/" class="col-md-1 pull-right">Save</a>
    </div>

    <div class="row menu-item">
      <div class="col-md-10">
        <div class="input-group">
          <input id="new-item-input" type="text" class="form-control" placeholder="Enter menu item">
        </div>
        <div class="controls">
          <input id='check-1' type="checkbox" name='nut-free' />
          <label for="check-1">Nut-Free</label>
          <input id='check-2' type="checkbox" name='vegetarian' />
          <label for="check-2">Vegetarian</label>
          <input id='check-3' type="checkbox" name='spicy' />
          <label for="check-3">Spicy</label>
          <input id='check-4' type="checkbox" name='dairy' />
          <label for="check-4">Dairy</label>          
        </div>
      </div>
      <button type="button" class="col-md-2 btn btn-default text-center">Add Dish</button>
    </div>
  </div>
  <div class="text-center">
    <button type="button" id="add-item" class="btn btn-default text-center">Add</button>
  </div>
  <br />
  <div class="menu-list col-md-10 col-md-offset-1" id="menu"></div>
</div>

<%= erb :dish_template %>
