<div class="admin-page">

  <div class="col-md-10 col-md-offset-1">
    
    <div class="top text-center">
      <h1>Happiness Admin</h1>
    </div>

    <div class="menu-item">
      <div class="input-group">
        <input id="new-item-input" type="text" class="form-control" placeholder="Enter menu item">
      </div>
      
      <div class="controls" style="display: none;">
        <input id='check-1' type="checkbox" name='check-1' checked='checked' />
        <label for="check-1">Nut-Free</label>
        <input id='check-2' type="checkbox" name='check-1' />
        <label for="check-2">Vegetarian</label>
        <input id='check-3' type="checkbox" name='check-1' />
        <label for="check-3">Spicy</label>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="button" id="add-item" class="btn btn-default text-center">Add</button>
  </div>
</div>