<div class="faves-page">
  <div class="top-img center">
    <img class"tupperware" src="img/faves.png" alt="Tupperware Faves">
  </div>
  <div class="menu-list col-md-10 col-md-offset-1" id="menu"></div>
</div>

<%= erb :dish_template %>