<div class="faves-page">
  <div class="top-img center">
    <img class"tupperware" src="img/faves.png" alt="Tupperware Faves">
  </div>
  <div class="menu-list col-md-10 col-md-offset-1">
    <div class="row menu-item">
      <div class="col-md-12">
        <div class="pull-left col-md-8">
          <h1>Veggie salad</h1>
          <ul class="details">
            <li>Nut-Free</li>
            <li>Vegetarian</li>
          </ul>
        </div>
        <div class="pull-right col-md-4 like-count">
          <span class="glyphicon glyphicon-heart"></span>
          <h1>10</h1>
        </div>
      </div>  
    </div>

    <div class="row menu-item">
      <div class="col-md-12">
        <div class="pull-left col-md-8">
          <h1>Turkey meatballs with sautéed apples onions and brie</h1>
          <ul class="details">
            <li>Nut-Free</li>
          </ul>
        </div>
        <div class="pull-right col-md-4 like-count">
          <span class="glyphicon glyphicon-heart"></span>
          <h1>6</h1>
        </div>
      </div>  
    </div>

    <div class="row menu-item">
      <div class="col-md-12">
        <div class="pull-left col-md-8">
          <h1>Curry sausage and pasta Marsala marinara</h1>
          <ul class="details">
            <li>Nut-Free</li>
          </ul>
        </div>
        <div class="pull-right col-md-4 like-count">
          <span class="glyphicon glyphicon-heart"></span>
          <h1>6</h1>
        </div>
      </div>  
    </div>

  </div>
</div>