<div class="faves-page">
  <div class="top-img center">
    <img src="img/faves.png" srcset="img/faves@2x.png 2x" alt="Tupperware Faves">
  </div>
  <div class="menu-list col-md-10 col-md-offset-1" id="menu"></div>
</div>

<%= erb :dish_template %>