<div class="menu-page">
  <div class="top-img center">
    <img class="tupperware img-responsive" src="img/tupperware.png" srcset="img/tupperware@2x.png 2x" alt="Red Tupperware">
  </div>
  <div class="menu-list col-md-10 col-md-offset-1" id="menu"></div>
</div>

<%= erb :dish_template %>