<div class="menu-page">
  <div class="top-img center">
    <img class"tupperware" src="img/tupperware.png" alt="Red Tupperware">
  </div>
  <div class="menu-list col-md-10 col-md-offset-1">
    <div class="row menu-item">
      <div class="col-md-12">
        <div class="pull-left col-md-8">
          <h1>Veggie salad</h1>
          <h2>Nut-Free</h2><h2>Vegetarian</h2>
        </div>
        
        <div class="pull-right col-md-4 like-count">
          <a href="/">
            <img class="heart" src="img/heart.png" alt="Tupperware Faves">
            <span>Loved it!</span>
          </a>
        </div>
      </div>  
    </div>
  </div>
</div>