<div class="menu-page">
  <div class="top-img center">
    <img class"tupperware" src="img/tupperware.png" alt="Red Tupperware">
  </div>
  <div class="menu-list col-md-10 col-md-offset-1" id="menu"></div>
</div>

<%= erb :dish_template %>