<div class="menu-page">
  <div class="top-img center">
    <img class"tupperware" src="img/tupperware.png" alt="Red Tupperware">
  </div>
  <div class="menu-list">
    <div class="menu-item">
      <h1>Sausage and butternut squash hash</h1>
      <h2>Nut-Free</h2>
    </div>
    <div class="menu-item">
      <h1>Veggie salad</h1>
      <h2>Nut-Free</h2><h2>Vegetarian</h2>
    </div>
  </div>
</div>