<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Red Tupperware</title>
</head>
<body>
  <div class="container col-md-10 col-md-offset-1">
    <ul class="nav">
      <li class="col-md-1 pull-left h2"><a href="/" class="active">Menu</a></li>
      <li class="col-md-1 pull-left h2"><a href="/faves" class="">Faves</a></li>
      <li class="col-md-1 pull-right h2"><a href="/admin" class="">Admin</a></li>
    </ul>

  	<%= yield %>

  	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </div>
</body>
</html>