<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
	<title>Red Tupperware</title>
  <link rel="shortcut icon" href="img/favicon.ico" />
</head>
<body>
  <div class="container col-md-10 col-md-offset-1">
    <ul class="nav">
      <li class="pull-left h2"><a href="/" class="active">This Week</a></li>
      <li class="pull-left h2"><a href="/faves" class="">All-Time Faves</a></li>
      <li class="pull-left h2"><a href="/admin" class="">Build a Menu</a></li>
      <li class="pull-right h2"><a href="/login" class="">Login</a></li>
    </ul>

  	<%= yield %>

  	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </div>
</body>
</html>