<div class="login-pg text-center">
  <div class="col-md-12">
	  <img class"tupperware" src="img/big-spoon.png" srcset="img/big-spoon@2x.png 2x" alt="Red Tupperware">	
	  <!-- <h1>Login to <span class="glyphicon glyphicon-heart"></span> menu items</h2> -->
	  <div class="btn-container">  
	    <button type="button" id="login-button" class="login-btn btn btn-default text-center">Login with Google</button>
	  </div>
  </div>
</div>