<div class="login-pg border">
  <h1 class="text-center">Login to <span class="glyphicon glyphicon-heart"></span> menu items</h2>
  <div class="btn-container">  
    <button type="button" id="login-button" class="col-md-4 col-xs-10 login-btn btn btn-default text-center">Login with Google</button>
  </div>
</div>