<div class="scoop-page">
  <div class="top-img center">
    <img class"tupperware" src="img/tupperware.png" alt="Red Tupperware">
  </div>
    
    
  <div class="col-md-10 col-md-offset-1 border-section">
    <div class="col-md-8">
      <h3>Here's the scoop</h3>
      <h4>Red Tupperware is the container in which decadent, home-cooked meals are delivered weekly to the 6th floor refrigerator at Chloe +Isabel</h4>
    </div>
    <div class="col-md-4 pull-right">
      <img class="img-responsive spoon" src="img/spoon2.png" srcset="img/spoon2.png 2x" alt="Red Tupperware">  
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1 border-section">
    <div class="col-md-4">
      <img class"img-responsive spoon" src="img/cal.png" srcset="img/cal@2x.png 2x" alt="Red Tupperware">
    </div>
    <div class="col-md-8">
      <h3>The Schedule</h3>
      <h4>Red Tupperware is typically delivered on Monday. In addition to home-cooked meals, you will find fresh cold cuts and cheese for your sandwich making pleasure.</h4>
    </div>
  </div>

</div>
