* {
  font-family: 'raleway', san-serif;
  color: #6a6a6a;
}

.container {
  margin-top: 30px;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  padding: 0;
  color: #c61f1f;
  font-size: 13px;
  text-decoration: none;
}

label {
  display: inline;
  margin: 0 15px 0 5px;
}

h1 {
  color: #5f5f5f;
  font-size: 16px;
  line-height: 20px;
}

h2, .h2 {
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: top;
}

ul.details li, label {
  font-size: 11px;
  letter-spacing: 0.5px;
  display: inline-block;
  line-height: 18px;
  text-transform: uppercase;
  color: #ECBB7B;
}

ul.details li:first-child:before {
  content: none;
}

.details li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.nav {
  margin-bottom: 50px;

}
.nav li {
  display: inline-block;
  margin: 0 30px 0 0;
}

.nav li:last-child {
  margin-right: 0;
}

.nav li a {
  color: #6a6a6a;
  padding: 0;
}

.nav li a:active {
  color: #c61f1f
}

.nav li a:hover {
  color: #c61f1f;
  background: none;
}

.menu-item {
  border-top: solid 1px #E4E4E4;
  padding: 20px 0;
}

.input-group {
  width: 100%;
  margin-bottom: 8px;
}

.input-group .form-control {
  border-radius: 2px;
  height: 45px;
}

.top-img img {
  margin: 20px auto 30px;
  display: block;
}

.like-count {
  text-align: right;
  font-size: 18px;
  color: #de686a;
}

.like-count h1 {
  display: inline;
  vertical-align: top;
  line-height: 26px;
}

.like-count a:hover, .like-count .glyphicon-heart:hover  {
  color: #902222;
  text-decoration: none;
}

.btn {
  background-image: none;
  border: none;
  text-shadow: none;
  background-color: #c61f1f;
  color: #fff;
  padding: 10px 30px;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #902222;
  color: #fff;
}

.glyphicon-heart {
  font-size: 25px;
  margin-right: 5px;
  color: #de686a;
}

.admin-page a {
  margin-top: 20px;
}

.top h1 {
  color:#646464;
  font-size: 20px;
  margin-bottom: 40px;
}
